
@if function-exists(register-theming-variables) {
  _: register-theming-variables(string, portal-url);
}

/* COLORS */
$primary-color: #205C90;
$secondary-color: #75ad0a;

$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);

$standalone-color: #fafafa;
$context-color: #337AB7;
$success-color: #5cb85c;
$warning-color: #f0ad4e;
$danger-color: #d9534f;

$page-bg-color: $gray-lighter;
$content-bg-color: #fff;
$text-color: $gray-dark;
$light-text-color: $gray-light;
$link-color: $primary-color;
$link-hover-color: $secondary-color;
$link-decoration: none;
$link-hover-decoration: underline;

@if function-exists(register-theming-variables) {
  ?: register-theming-variables(color,
                                primary-color,
                                secondary-color,
                                gray-base,
                                gray-darker,
                                gray-dark,
                                gray,
                                gray-light,
                                gray-lighter,
                                standalone-color,
                                context-color,
                                success-color,
                                warning-color,
                                danger-color,
                                page-bg-color,
                                content-bg-color,
                                text-color,
                                light-text-color,
                                link-color,
                                link-hover-color);

  ?: register-theming-variables(string,
                                link-decoration,
                                link-hover-decoration);
}


/* COMPONENTS */
$border-radius: 3px;

@if function-exists(register-theming-variables) {
  ?: register-theming-variables(size,
                                border-radius);
}


/* TYPOGRAPHY */

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.25));
$font-size-small: ceil(($font-size-base * 0.85));
$line-height-base: 1.428571429;

$font-size-h1: floor(($font-size-base * 2.6));
$font-size-h2: floor(($font-size-base * 2.15));
$font-size-h3: ceil(($font-size-base * 1.7));
$font-size-h4: ceil(($font-size-base * 1.25));
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85));


@if function-exists(register-theming-variables) {
  ?: register-theming-variables(font,
                                font-family-sans-serif,
                                font-family-serif,
                                font-family-monospace,
                                font-family-base);
  ?: register-theming-variables(size,
                                font-size-base,
                                font-size-large,
                                font-size-small,
                                line-height-base,
                                font-size-h1,
                                font-size-h2,
                                font-size-h3,
                                font-size-h4,
                                font-size-h5,
                                font-size-h6);
}

/* Viewports */

// Taken from http://en.wikipedia.org/wiki/Display_resolution
$desktop-WQHD-width:   2560px;
$desktop-FHD-width:    1920px;
$desktop-HDPLUS-width: 1600px;
$desktop-HD-width:     1360px;
$desktop-WXGA-width:   1280px;
$desktop-XGA-width:    1024px;

// Taken from http://www.ciop.com/common-resolutions-for-mobile-phones-and-tablets
$mobile-large: 1280px;
$mobile-medium: 1024px;
$mobile-small: 800px;
$mobile-smaller: 600px;
$mobile-tiny: 480px;


$screen-XL: "(min-width: #{$desktop-WQHD-width})";
$screen-L: "(max-width: #{$desktop-HDPLUS-width})";
$screen-M: "(max-width: #{$desktop-HD-width})";
$screen-S: "(max-width: #{$desktop-XGA-width})";
$screen-XS: "(max-width: #{$mobile-small})";

@mixin desktop-XL {
  @media #{$screen-XL} {
    @content;
  }
}

@mixin desktop-L {
  @media #{$screen-L} {
    @content;
  }
}

@mixin desktop-M {
  @media #{$screen-M} {
    @content;
  }
}

@mixin tablet {
  @media #{$screen-S} {
    @content;
  }
}
@mixin phone {
  @media #{$screen-XS} {
    @content;
  }
}
