$column-width: 56px;
$gutter-width: 18px;
$margin-width: 18px;
$columns: 16;

$gridsystem-width: $columns * $column-width + ($columns - 1) * $gutter-width + 2 * $margin-width;

@mixin gridwidth($x) {
  width: 100% * (($column-width + $gutter-width) * $x - $gutter-width) / $gridsystem-width;
}

@mixin gridposition($x) {
  margin-left: 100% * (($column-width + $gutter-width) * $x - $gridsystem-width + $margin-width) / $gridsystem-width;
}

@mixin cell {
  position: relative;
  float: left;
  left: 100%;

  @include print {
    float: none;
    position: static;
    left: 0;
    margin: 0 !important;
  }
}

@mixin row {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
