/*
  Colors
 */

$color-primary: #3B234A !default;
$color-secondary: #BAAFC4 !default;
$color-edit: #75ad0a !default;

$color-default: #2980b9 !default;
$color-success: #21ba45 !default;
$color-warning: #eab055 !default;
$color-danger: #db2828 !default;

$color-white: #fff !default;
$color-gray-dark: #e6e6e6 !default;
$color-gray-light: #f5f5f5 !default;

$color-text: #444 !default;
$color-text-inverted: #efefef !default;
$color-text-light: #95a5a6 !default;

$color-link: $color-primary !default;
$color-link-hover: $color-secondary !default;
$color-link-inverted: $color-primary !default;
$color-link-hover-inverted: $color-text-inverted !default;

$color-disabled: $color-gray-light !default;
$color-text-disabled: $color-gray-dark !default;

$color-content-background: $color-white !default;

/*
  Typography
 */
$font-family-primary: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-heading: $font-family-primary !default;
$font-family-code: "Courier New", Courier, monospace !default;

$font-weight-link: normal !default;
$text-decoration-link: none !default;
$text-decoration-link-hover: underline !default;
$font-weight-heading: bold !default;
$margin-heading-vertical: .5em !default;
$margin-paragraph-vertical: 1.3em !default;

/*
  Borders
 */
$border-radius-primary: 2px !default;

/*
  Spacing
 */
$margin-horizontal: .5em !default;
$margin-vertical: 1.414em !default;
$padding-vertical: .7em !default;
$padding-horizontal: 1.2em !default;

/*
  Box shadows
 */
$box-shadow-primary: 2px 2px 4px rgba(0, 0, 0, .1) !default;
$box-shadow-secondary: 0 5px 20px rgba(0, 0, 0, .2) !default;

/*
  Sizes
 */
$font-size-base: 16px !default;

$font-size-h1: 2.074rem !default;
$font-size-h2: 1.728rem !default;
$font-size-h3: 1.44rem !default;
$font-size-h4: 1.2rem !default;

$font-size-small: 0.75rem !default;
$font-size-medium: $font-size-h4 !default;
$font-size-large: $font-size-h2 !default;

/*
  Dimensions
 */

$max-width-page: 1200px !default;
$line-height-base: 1.5em !default;

/*
  Spinner
  Declare this variable in the policy to define a spinner.
  Use a resource URL which points to a gif spinner.
 */
$spinner-url: "" !default;

/* Viewports */

$screen-medium: 1024px !default;
$screen-small: 800px !default;
$screen-tiny: 480px !default;

@mixin print {
  @media print {
    @content;
  }
}

@mixin screen-large {
  @media (min-width: #{$screen-medium}) {
    @content;
  }
}

@mixin screen-medium {
  @media (min-width: #{$screen-small}) {
    @content;
  }
}
@mixin screen-small {
  @media (min-width: #{$screen-tiny}) {
    @content;
  }
}


/* ICONS */

$standard-iconset: font-awesome !default;
$use-font-awesome-mimetype-icons: true !default;
@include declare-variables(
  standard-iconset,
  use-font-awesome-mimetype-icons);

@include declare-variables(
  color-primary,
  color-secondary,
  color-default,
  color-success,
  color-warning,
  color-danger,
  color-white,
  color-gray-dark,
  color-gray-light,
  color-text,
  color-text-inverted,
  color-text-light,
  color-link,
  color-link-hover,
  color-link-inverted,
  color-link-hover-inverted,
  color-disabled,
  color-text-disabled,
  font-weight-link,
  text-decoration-link,
  text-decoration-link-hover,
  font-family-primary,
  font-family-heading,
  font-family-code,
  margin-heading-vertical,
  margin-paragraph-vertical,
  border-radius-primary,
  margin-horizontal,
  margin-vertical,
  padding-vertical,
  padding-horizontal,
  box-shadow-primary,
  box-shadow-secondary,
  font-size-base,
  font-size-h1,
  font-size-h2,
  font-size-h3,
  font-size-h4,
  font-size-small,
  font-size-medium,
  font-size-large,
  font-weight-heading,
  max-width-page,
  line-height-base,
  spinner-url,
  screen-small,
  screen-medium,
  screen-tiny);
